/* css styles*/

* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
    font-size:100%;
    font-family:'source_sans_proregular';
    background-image:url(../images/sunset.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

#wrapper {
    /*width:940px;*/
    width:78%;
    max-width:1100px;
    margin:0 auto 20px auto;
    padding:20px;
    background:#fff;
    background:rgba(255, 255, 255, .8);
    overflow:hidden;

}

header {
    margin:20px auto 0 auto;
   /* width:940px;*/
    width:78%;
    max-width:1100px;
    background:#fff;
    background:rgba(255, 255, 255, .8);

}

main {
    /*width:600px;*/
    width:63.82%;
    float:left;
    padding-right:10px;
    margin-bottom: 20px;

}

p {
    margin-bottom:20px;
    line-height: 1.5;
}
