/* css styles*/

* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
    font-size:100%;
    font-family:'source_sans_proregular';
    background-color:grey;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

#wrapper {
    width:78%;
    max-width:1100px;
    margin:0 auto 20px auto;
    padding:20px;
    background:#fff;
    background:rgba(255, 255, 255, .8);
    overflow:hidden;

}

header {
    margin:20px auto 0 auto;
    width:78%;
    max-width:1100px;
    background:#ffff;
    /*background:rgba(255, 255, 255, .8);*/

}

header h1.center {
    margin:0 2.12% auto 42.55%;
    font-style:italic;
    font-family:'source_sans_proitalic';
    line-height:50px;
    padding-top:40px;
}

main {
    /*width:600px;*/
    width:63.82%;
    float:left;
    padding-right:10px;
    margin-bottom: 20px;

}

p {
    margin-bottom:20px;
    line-height: 1.5;
}

p.background {
    background:lightblue;
    padding:10px;
    font-size: 1.463em;
    font-family: 'source_sans_proitalic';
    line-height: 1.2;
    font-style:italic;
    margin-top:20px;
}

aside {
    border:1px solid #666;
    padding:15px;
    /*width:300px;*/
    width:31.91%;
    float:right;
    margin-bottom:20px;
    
}

aside img {
    width:300px;
    
}
